<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Website</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a th:href="@{/user/doctor_input}">Home</a></li>
      <li><a th:href="@{/user/patient_list}">About</a></li>
      <li><a th:href="@{/user/user_list}">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>Welcome to my website!</h1>
  <p>This is the homepage of my website. Please select a link from the navigation menu above to view one of the other pages.</p>
</main>
</body>
</html>


