<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/l.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
            rel="stylesheet"
    />
    <title>login</title>
</head>
<body>
<div class="container">
    <div class="form-container">
<form th:action="@{/login}" method="post" id="LoginForm">
    <h1>Login</h1>
    <label>
        <input label="username" type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
        <br />
    </label>
    <label>



        <input  label="password" type="password" name="password" class="form-control" placeholder="Password" required  autofocus/>
        <br />
    </label>
    <div class="button-section">
        <button type="submit" form="LoginForm">Sign in</button>
    </div>
</form>
        <div class="registration-link">
            <a th:href="@{/user/register}">create new user</a>
        </div>
        <div class="registration-link">
            <a th:href="@{/user/list}">admin</a>
        </div>
    </div>
</div>
</body>
</html>
